@model VegeFoods.Models.BD_VegeFoods.User

<div class="col-md-3" style="border-right: 1px solid #a1de97;">
    <div>
        <h5 class="title-account">ACCOUNT PAGE</h5>
        <p style="color: #000;">Hello, <span style="color: #089b21; ">@Model.FullName</span>&nbsp;</p>
        <ul style="list-style: none; padding:0">
            <li>
                <a style="color: #000" href="~/CustomerAccount/CustomerInfo">Account information</a>
            </li>
            <li>
                <a style="color: #000" href="~/CustomerAccount/YourOrder">Your order</a>
            </li>
            @*<li>
                    <a class="" href="/account/changepassword">Đổi mật khẩu</a>
                </li>
                <li>
                    <a class="" href="/account/addresses">Sổ địa chỉ (0)</a>
                </li>*@
        </ul>
    </div>
</div>