
@{
    ViewBag.Title = "YourOrderDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container  card p-3" style="margin: 40px auto 100px auto">
    <div class="row">
        @{Html.RenderAction("AccountPage", "CustomerAccount");}

    </div>
</div>