@model List<VegeFoods.Models.BD_VegeFoods.Order>
@{
    ViewBag.Title = "YourOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container  card p-3" style="margin: 40px auto 100px auto; color: #000 !important">
    <div class="row">
        @{Html.RenderAction("AccountPage", "CustomerAccount");}

        <div class="col-md-9">
            <h5 class="">YOUR ORDER</h5>

            <div>
                <table class="table table-bordered" style="min-width: 0!important">
                    <tr>
                        <th>Code</th>
                        <th>Date</th>
                        <th>Address</th>
                        <th>Price</th>
                        <th>Transport</th>
                        <th></th>
                    </tr>
                    @{
                        foreach (var item in Model)
                        {
                            var orderDetail = new VegeFoods.Models.CustomerModel.OrderDetailModel();
                            var getOrderDetail = orderDetail.getOrderDetailByOrderID(item.ID);

                            double price = 0.0;

                            string orderStatus = "";
                            if (item.Status == 0)
                            {
                                orderStatus = "Canceled";
                            }
                            else if (item.Status == 1)
                            {
                                orderStatus = "Wait for confirmation";
                            }
                            else if (item.Status == 2)
                            {
                                orderStatus = "Delivering";
                            }
                            else if (item.Status == 3)
                            {
                                orderStatus = "Delivered";
                            }

                            foreach (var orderDetailItem in getOrderDetail)
                            {
                                price += (double)orderDetailItem.Price;
                            }

                            <tr>
                                <td>
                                    <a href="~/CustomerAccount/YourOrderDetail?id=@item.ID">#@item.ID</a>
                                </td>
                                <td> @item.OrderDate </td>
                                <td> @item.Address </td>
                                <td>$@price </td>
                                <td> @orderStatus </td>
                                <td>
                                    @if (item.Status != 0)
                                    {
                                        <a href="#" onclick="orderDelete(@item.ID)">Cancel</a>
                                    }
                                </td>
                            </tr>
                        }
                    }


                </table>
            </div>

        </div>
    </div>
</div>


@section linkJS{
    <script>
        function orderDelete(id) {
            var result = confirm("Do you want to cancel order?");
            if (result) {
                location.href = '/CustomerAccount/CancelOrder?id=' + id;
            }
        }
    </script>
}
